 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=PT+Serif:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 * {
    font-family: 'Work Sans', sans-serif;
}
/* ================
header responsive start
=================== */
/* Mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}
/* Tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 960px){
    header {
        padding: 50px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
}
/* ================
header responsive End
=================== */